<mat-card>
  <mat-card-title>Edit Task</mat-card-title>
  <mat-card-subtitle>Edit your task</mat-card-subtitle>
  <mat-card-content>
    <form class="todo-form">
      <mat-form-field class="todo-form-group" appearance="fill">
        <mat-label for="taskTitle">Title</mat-label>
        <input matInput type="text" id="taskTitle" [formControl]="title" />
      </mat-form-field>
      <mat-form-field class="todo-form-group" appearance="fill">
        <mat-label for="taskNote">Note</mat-label>
        <input matInput type="text" id="taskNote" [formControl]="note" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="basic" (click)="updateTask()">
      Update
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/tasks']">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
